<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/image/logo.2.png" type="image/png">

    <link rel="stylesheet" type="text/css" media="screen" href="/public/icon/fontawesome-6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.1/dist/leaflet.css" integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin=""/>

    <link rel="stylesheet" type="text/css" media="screen" href="/public/style/ly.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/public/style/app.css" />
    
    <title>Place</title>
</head>
<body class="ly-property-image" style="background-image: url(/public/image/img2.png);">


    <div class="app ly-table ly-table-row">
        <div class="app-title">
            <label onclick="App.ToggleMenu('.-tab-place', '.-tab-menu');">Safar</label>
        </div>
        <div class="app-tab app-panel-border-trl app-tab-slider">


            <div class="-tab-place app-panel-stack --tab-slide" style="left: 0%;">
                <div class="--tab-title app-panel">
                    <label id="_appPlaceName">Bhopal</label>
                    <button class="fa fa-map ly-property-reset" onclick="App.ScrollToBottom('.app-tab');"></button>
                    <div class="--tab-detail">
                        <label id="_appPlaceDetail">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi, praesentium? Quibusdam, eaque debitis quis mollitia amet molestias, sit odio, laudantium explicabo quae nam. In nesciunt reprehenderit aliquam dolores fugiat non?</label>
                    </div>
                </div>

                <div class="--tab-title app-panel">
                    <label>Photo</label>
                    <button class="fa fa-add ly-property-reset" style="display: none;"></button>
                </div>

                <div class="app-card app-panel">
    
                    <div class="--card-vertical" id="_appPlacePhoto"></div>

                </div>


                <div class="--tab-title app-panel">
                    <label>Map</label>
                </div>
                <div class="app-map app-panel">
                    <div id="_appMap"></div>
                </div>

            </div>


            <div class="-tab-menu app-panel-stack --tab-slide" style="left: -100%;">

                <div class="--tab-title app-panel" onclick="App.ToggleMenu('.-tab-place', '.-tab-menu');">
                    <label>Menu</label>
                </div>
                <div class="--tab-title app-panel" onclick="window.location.href = '/home';">
                    <label>Home</label>
                </div>
                <div class="--tab-title app-panel" onclick="window.location.href = '/search';">
                    <label>Search</label>
                </div>
                <div class="--tab-title app-panel" id="_appUserRedirect" onclick="window.location.href = '/user';">
                    <label>User</label>
                </div>
                <div class="--tab-title app-panel" onclick="window.location.href = '/about';">
                    <label>About</label>
                </div>
                <div class="--tab-title app-panel"" onclick="window.location.href = '/contact';">
                    <label>Contact</label>
                </div>
                <div class="--tab-title app-panel" id="_appLoginRedirect" onclick="window.location.href = '/auth';">
                    <label>Login</label>
                </div>
                <div class="--tab-title app-panel" id="_appLogoutRedirect" onclick="AppAPI.Logout();">
                    <label>Logout</label>
                </div>

            </div>



        </div>
    </div>

    
</body>
</html>
<script src="https://unpkg.com/leaflet@1.9.1/dist/leaflet.js" integrity="sha256-NDI0K41gVbWqfkkaHj15IzU7PtMoelkzyKp8TOaFQ3s=" crossorigin=""></script>
<script src="/public/script/ly.js"></script>
<script src="/public/script/jquery-3.6.1.min.js"></script>
<script src="/public/script/app.js"></script>
<script src="/public/script/app.map.js"></script>
<script src="/public/script/app.api.js"></script>
<script>

    AppMap.Init();
    AppAPI.GetPlaceDetail();
    AppAPI.CheckUser();

</script>