<div class="--tab-title app-panel" onclick="Tab.ChangeTab('.-tab-home', '.app-tab > div');">
    <label>Home</label>
</div>
<div class="--tab-title app-panel" onclick="Tab.ChangeTab('.-tab-search', '.app-tab > div');">
    <label>Search</label>
</div>
<div class="--tab-title app-panel" onclick="Tab.ChangeTab('.-tab-user', '.app-tab > div');">
    <label>User</label>
</div>
<div class="--tab-title app-panel" onclick="Tab.ChangeTab('.-tab-about', '.app-tab > div');">
    <label>About</label>
</div>
<div class="--tab-title app-panel" onclick="Tab.ChangeTab('.-tab-contact', '.app-tab > div');">
    <label>Contact</label>
</div>
<div class="--tab-title app-panel" onclick="Tab.ChangeTab('.-tab-contact', '.app-tab > div');">
    <label>Logout</label>
</div>